h1 {
  text-align: center;
}

.start {
  display: block;
  margin: 10px auto;
}

.score {
  margin: 10px 0;
  text-align: center
}

.grid {
  margin: auto;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
}

.grid div {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid black;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: purple;
}